# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

your_submission/train_data/
your_submission/test_data/
your_submission/model/*.pt


ViT/260112/.venv/
ViT/260112/test_data/
ViT/260112/train_image/
ViT/260112/train_video/
ViT/260112/train_data/
ViT/260112/model/*.pt

ViT/260113/.venv/
ViT/260113/test_data/
ViT/260113/train_image/
ViT/260113/train_video/
ViT/260113/train_data/
ViT/260113/model/*.pt